<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<context:component-scan base-package="springidol" />

	<bean id="auditorium" class="springIdol.Auditorium" init-method="turnOnLights"
		destroy-method="turnOffLights" />

	<bean id="theStage" class="springIdol.Stage" factory-method="getInstance" />

	<bean id="ticket" class="springIdol.Ticket" scope="prototype" />

	<bean id="sonnet29" class="springIdol.Sonnet29" />

	<bean id="magicBox" class="springIdol.MagicBoxImpl">
		<replaced-method name="getContents" replacer="tigerReplacer" />
	</bean>

	<bean id="tigerReplacer" class="springIdol.TigerReplacer" />

	<!-- Performers -->
	<bean id="duke" class="springIdol.Juggler" />

	<bean id="max" class="springIdol.PoeticJuggler" autowire="constructor" />

	<bean id="kenny" class="springIdol.Instrumentalist" p:song-ref="songAdventureTime"
		p:instrument-ref="piano" />

	<bean id="kenny2" class="springIdol.Instrumentalist" p:song-ref="songAdventureTime"
		autowire="byName" />

	<bean id="hank" class="springIdol.OneManBand">
		<property name="instruments">
			<set>
				<ref bean="guitar" />
				<ref bean="saxophone" />
				<ref bean="piano" />
				<ref bean="guitar" />
			</set>
		</property>
	</bean>

	<bean id="jim" class="springIdol.OneManBandMap">
		<property name="instruments">
			<map>
				<entry key="GUITAR" value-ref="guitar" />
				<entry key="SAXOPHONE" value-ref="saxophone" />
				<entry key="PIANO" value-ref="piano" />
			</map>
		</property>
	</bean>

	<bean id="carl" class="springIdol.Instrumentalist" p:song-ref="songRobotsInMotion"
		p:instrument-ref="saxophone" />

	<bean id="sam" parent="baseSaxophonist" />

	<bean id="harry" class="springIdol.Magician" p:magicBox-ref="magicBox"
		p:magicWords="Too ToT-To-Roo!" />



	<!-- Abstract -->
	<bean id="baseSaxophonist" class="springIdol.Instrumentalist"
		abstract="true" p:instrument-ref="saxophone" p:song-ref="songAdventureTime" />

	<!-- Songs -->
	<bean id="songJingleBells" p:song="Jingle Bells" class="springIdol.Song" />
	<bean id="songAdventureTime" p:song="Adventure Time" class="springIdol.Song" />
	<bean id="songRobotsInMotion" p:song="Robots In Motion" class="springIdol.Song" />

	<!-- Instruments -->
	<bean id="guitar" p:sound="STRUM STRUM STRUM" class="springIdol.Instrument" />
	<bean id="saxophone" p:sound="CRASH CRASH CRASH" class="springIdol.Instrument" />
	<bean id="instrument" p:sound="CRASH CRASH CRASH" class="springIdol.Instrument" />
	<bean id="piano" p:sound="HUM HUM HUM" class="springIdol.Instrument" />

	<!-- AOP -->
	<bean id="newLine" class="springIdol.NewLine" />
	<bean id="audience" class="springIdol.Audience" />
	
		<aop:config>
			<aop:pointcut id="perform"
				expression="execution(* springIdol.Performer.perform(..))" />
			<aop:aspect ref="newLine">
				<aop:before pointcut-ref="perform" method="singleBeforePerform" />
				<aop:after pointcut-ref="perform" method="singleAfterPerform" />
			</aop:aspect>
			<aop:aspect ref="audience">
				<aop:around pointcut-ref="perform" method="watchPerformance" />
			</aop:aspect>
		</aop:config>

		<!-- /AOP -->

</beans>
